
Part 2/SYS6018_Sem_Proj_Part2_Camille_Leonard.Rmd
Part 2/SYS6018_Sem_Proj_Part2_Camille_Leonard_files/figure-html/3-1.png
Part 2/SYS6018_Sem_Proj_Part2_Camille_Leonard_files/figure-html/KNN pred-1.png
Part 2/SYS6018_Sem_Proj_Part2_Camille_Leonard_files/figure-html/LDA pred-1.png
Part 2/SYS6018_Sem_Proj_Part2_Camille_Leonard_files/figure-html/Log Reg pred-1.png
Part 2/SYS6018_Sem_Proj_Part2_Camille_Leonard_files/figure-html/QDA pred-1.png
Part 2/SYS6018_Sem_Proj_Part2_Camille_Leonard_files/figure-html/unnamed-chunk-5-1.png
